# The default owners for this version of the Amazon Product Advertising API 5.0 SDK for PHP is the Affiliate Platforms Squad under Product Platforms at Wirecutter.
*       @thewirecutter/affiliate-platforms-squad
