<?xml version="1.0"?>
<ruleset name="slc-paapi5-php-sdk">
    <description>Standard PSR-2 Standards for Aamazon PA-API v5 PHP SDK.</description>

    <arg value="sp"/>
    <arg name="extensions" value="php"/>
    <arg name="report" value="full"/>
    <arg name="report" value="summary"/>

    <file>./src</file>

    <rule ref="PSR2">
        <exclude name="PSR2.Files.EndFileNewline.TooMany"></exclude>
        <exclude name="PSR2.Namespaces.NamespaceDeclaration.BlankLineAfter"></exclude>
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingBeforeClose"></exclude>
        <exclude name="Squiz.WhiteSpace.SuperfluousWhitespace.EndLine"></exclude>
        <exclude name="PSR2.Files.EndFileNewline.NoneFound"></exclude>
        <exclude name="Generic.Files.LineLength"></exclude>
        <exclude name="Squiz.Scope.MethodScope.Missing"></exclude>
    </rule>
</ruleset>
