# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
    build:
        docker:
            # Specify the version you desire here
            - image: cimg/php:8.0

        steps:
            - checkout

            - run: composer install -n --prefer-dist

            - run: ./vendor/bin/phpcs
